body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 20px;
}

.site-content {
    list-style: none;
    padding: 0;
}

.news-item {
    position: relative;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-image {
    flex-shrink: 0;
}

.news-image img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.news-item div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.news-item h2 {
    margin: 0 0 10px;
    font-size: 1.1em;
    font-weight: bold;
}

.news-item h2 a {
    text-decoration: none;
    color: #333;
}

.news-item p.date {
    margin: 0;
    margin-top: 10px;
    font-size: 0.85em;
    color: #999;
    align-self: flex-end;
}

.news-item p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
    line-height: 1.5;
}
/* Кнопка лайка */
.like-button {
    position: absolute;
    top: 110px;    /* Расположение сверху */
    right: 10px;  /* Расположение справа */
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    transition: transform 0.2s, color 0.2s;
}

/* Масштабирование при наведении */
.like-button:hover {
    transform: scale(1.1);
}

/* Цвет для пустого сердечка (контур) */
.like-button .far.fa-heart {
    color: grey; /* Можете выбрать любой цвет для неактивного лайка */
}

/* Цвет для заполненного сердечка */
.like-button .fas.fa-heart {
    color: red;
}
